:root {
  --geist-text-gradient:linear-gradient(180deg,rgba(0,0,0,.7),#000);
  --geist-background:#fff;
  --geist-foreground:#000;
}
body{font-family: 'Inter', sans-serif;color:#000;}
h1{font-weight:700;font-size:8vw}
.hero-button-wrapper{
    display: block;
    position: relative;
    border-radius: 5px;
}
.hero-button-wrapper > span {
    border-radius: 5px !important;
}
h4{color:#555}
.animated-gradient-text{position:relative;display:block;-webkit-user-select:none;user-select:none}
.animated-text-background-1:before{animation:animated-text-background-1 8s infinite}
.animated-text-foreground-1{animation:animated-text-foreground-1 8s infinite}
.animated-text-background-2:before{animation:animated-text-background-2 8s infinite}
.animated-text-foreground-2{animation:animated-text-foreground-2 8s infinite}
.animated-text-background-3:before{animation:animated-text-background-3 8s infinite}
.animated-text-foreground-3{animation:animated-text-foreground-3 8s infinite}
.animated-text-foreground{background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;padding-left:var(--padding);padding-right:var(--padding);background-image:linear-gradient(90deg,var(--start-color),var(--end-color));position:relative;z-index:1}
.animated-gradient-text:before{content:var(--content);position:absolute;display:block;width:100%;text-align:center;margin-bottom:-10px;background:var(--geist-text-gradient);-webkit-background-clip:text;-webkit-text-fill-color:transparent;top:0;bottom:0;left:0;z-index:0;padding-left:var(--padding);padding-right:var(--padding)}
@keyframes animated-text-foreground-1{0%,16.667%,to{opacity:1}
33.333%,83.333%{opacity:0}
}
@keyframes animated-text-background-1{0%,16.667%,to{opacity:0}
25%,91.667%{opacity:1}
}
@keyframes animated-text-foreground-2{0%,to{opacity:0}
33.333%,50%{opacity:1}
16.667%,66.667%{opacity:0}
}
@keyframes animated-text-background-2{0%,to{opacity:1}
33.333%,50%{opacity:0}
25%,58.333%{opacity:1}
}
@keyframes animated-text-foreground-3{0%,50%,to{opacity:0}
66.667%,83.333%{opacity:1}
}
@keyframes animated-text-background-3{0%,58.333%,91.667%,to{opacity:1}
66.667%,83.333%{opacity:0}
}
.hero_title{display:flex;justify-content:center;text-align:center;flex-wrap:wrap;font-size:5rem;line-height:1;font-weight:800;letter-spacing:-.06em;margin:0 0 40px}
@media (min-width:1200px){.hero_title{font-size:7rem}
}
@media (max-width:960px){.hero_title{display:flex;flex-direction:column;font-size:6rem}
}
@media (max-width:720px){.hero_title{font-size:4.5rem}
}
@media (min-height:1120px){.hero_title{display:flex;flex-direction:column;font-size:8rem;margin-bottom:var(--geist-space-16x)}
}
.hero-button-wrapper .hero_gradient-button{background-color:var(--geist-background);background-clip:padding-box;border:1px solid transparent;box-shadow:0 4px 4px 0 #00000010;color:var(--geist-foreground);transition-property:color,background-color,box-shadow;transition-duration:.15s;transition-timing-function:ease}
.hero-button-wrapper .hero_gradient-button:hover{--lighten-color:transparent;color:var(--geist-background);background-color:transparent}
.hero-button-wrapper .hero_gradient-button:focus{box-shadow:0 0 0 1px var(--geist-background),0 0 0 3px var(--themed-bg,var(--geist-foreground))}
.hero-button-wrapper .hero_button-bg{border-radius:var(--geist-radius);content:"";height:100%;position:absolute;width:100%;z-index:-2}
.hero-button-wrapper .hero_button-bg:before{border:12px solid transparent;background-clip:padding-box;content:"";filter:blur(36px);height:100%;opacity:.8;position:absolute;width:100%;z-index:-1;left:0;}
.dark-theme .hero-button-wrapper .hero_button-bg:before{opacity:1}
.hero-button-wrapper .hero_button-bg,.hero-button-wrapper .hero_button-bg:before{background-image:linear-gradient(165deg,var(--start-color),var(--end-color))}
.hero-button-wrapper .hero_button-bg.hero_bg-1{animation:hero_background-1__GsyFC 8s infinite}
.hero-button-wrapper .hero_button-bg.hero_bg-1,.hero-button-wrapper .hero_button-bg.hero_bg-1:before{--start-color:#00dfd8;--end-color:#007cf0}
.hero-button-wrapper .hero_button-bg.hero_bg-2{animation:hero_background-2__ZkZqr 8s infinite}
.hero-button-wrapper .hero_button-bg.hero_bg-2,.hero-button-wrapper .hero_button-bg.hero_bg-2:before{--start-color:#ff0080;--end-color:#7928ca}
.hero-button-wrapper .hero_button-bg.hero_bg-3{animation:hero_background-3__C3uIw 8s infinite}
.hero-button-wrapper .hero_button-bg.hero_bg-3,.hero-button-wrapper .hero_button-bg.hero_bg-3:before{--start-color:#ff4d4d;--end-color:#f9cb28}
@keyframes hero_background-1__GsyFC{0%,16.667%,to{opacity:1}
33%,83.333%{opacity:0}
}
@keyframes hero_background-2__ZkZqr{0%,16.667%,66.667%,to{opacity:0}
33.333%,50%{opacity:1}
}
@keyframes hero_background-3__C3uIw{0%,50%,to{opacity:0}
66.667%,83.333%{opacity:1}
}